NET "ad7321_csn"        LOC = "AB12"    | IOSTANDARD = LVCMOS33;
NET "ad7321_din"        LOC = "Y11"     | IOSTANDARD = LVCMOS33;
NET "ad7321_dout"       LOC = "AB13"    | IOSTANDARD = LVCMOS33;
NET "ad7321_sclk"       LOC = "AA12"    | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[0]"      LOC = "A6"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[10]"     LOC = "G9"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[11]"     LOC = "F9"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[1]"      LOC = "C9"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[2]"      LOC = "E10"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[3]"      LOC = "D6"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[4]"      LOC = "A8"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[5]"      LOC = "C7"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[6]"      LOC = "F8"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[7]"      LOC = "A7"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[8]"      LOC = "B8"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[9]"      LOC = "G8"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a_rw"      LOC = "H10"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_ba[0]"     LOC = "B6"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_ba[1]"     LOC = "C8"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_cs2n"      LOC = "E8"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[0]"      LOC = "B14"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[10]"     LOC = "D13"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[11]"     LOC = "A13"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[12]"     LOC = "F12"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[13]"     LOC = "F13"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[14]"     LOC = "H12"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[15]"     LOC = "H13"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[1]"      LOC = "C14"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[2]"      LOC = "D14"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[3]"      LOC = "E14"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[4]"      LOC = "F14"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[5]"      LOC = "G13"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[6]"      LOC = "F15"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[7]"      LOC = "H14"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[8]"      LOC = "D12"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[9]"      LOC = "E12"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_oen"       LOC = "D9"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_wait"      LOC = "B16"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a_rw"      LOC = "C12"     | IOSTANDARD = LVCMOS33;
NET "dsp_fpga_d[0]"     LOC = "A10"     | IOSTANDARD = LVCMOS33;
NET "dsp_fpga_d[1]"     LOC = "D8"      | IOSTANDARD = LVCMOS33;
NET "dsp_fpga_d[2]"     LOC = "D7"      | IOSTANDARD = LVCMOS33;
NET "dsp_fpga_d[3]"     LOC = "A11"     | IOSTANDARD = LVCMOS33;
NET "dsp_fpga_d[4]"     LOC = "B10"     | IOSTANDARD = LVCMOS33;
NET "dsp_fpga_d[5]"     LOC = "D10"     | IOSTANDARD = LVCMOS33;
NET "dsp_fpga_d[6]"     LOC = "C11"     | IOSTANDARD = LVCMOS33;
NET "dsp_fpga_d[7]"     LOC = "C10"     | IOSTANDARD = LVCMOS33;
NET "rst_n"             LOC = "P20"     | IOSTANDARD = LVCMOS33;    #dsp_resetoutn
NET "fpga_cand[0]"      LOC = "J16"     | IOSTANDARD = LVCMOS33;
NET "fpga_cand[1]"      LOC = "H16"     | IOSTANDARD = LVCMOS33;
NET "fpga_cand[2]"      LOC = "H17"     | IOSTANDARD = LVCMOS33;
NET "fpga_cand[3]"      LOC = "F18"     | IOSTANDARD = LVCMOS33;
NET "fpga_cand[4]"      LOC = "F19"     | IOSTANDARD = LVCMOS33;
NET "fpga_cand[5]"      LOC = "D19"     | IOSTANDARD = LVCMOS33;
NET "fpga_cand[6]"      LOC = "D20"     | IOSTANDARD = LVCMOS33;
NET "fpga_cand[7]"      LOC = "D21"     | IOSTANDARD = LVCMOS33;
NET "fpga_canr[0]"      LOC = "G16"     | IOSTANDARD = LVCMOS33;
NET "fpga_canr[1]"      LOC = "G17"     | IOSTANDARD = LVCMOS33;
NET "fpga_canr[2]"      LOC = "F16"     | IOSTANDARD = LVCMOS33;
NET "fpga_canr[3]"      LOC = "F17"     | IOSTANDARD = LVCMOS33;
NET "fpga_canr[4]"      LOC = "B21"     | IOSTANDARD = LVCMOS33;
NET "fpga_canr[5]"      LOC = "B22"     | IOSTANDARD = LVCMOS33;
NET "fpga_canr[6]"      LOC = "A20"     | IOSTANDARD = LVCMOS33;
NET "fpga_canr[7]"      LOC = "A21"     | IOSTANDARD = LVCMOS33;
NET "clk"               LOC = "J22"     | IOSTANDARD = LVCMOS33;
NET "fpga_run_s"        LOC = "P18"     | IOSTANDARD = LVCMOS33;
NET "f_relay_con[10]"   LOC = "U1"      | IOSTANDARD = LVCMOS33;
NET "f_relay_con[11]"   LOC = "R3"      | IOSTANDARD = LVCMOS33;
NET "f_relay_con[12]"   LOC = "V1"      | IOSTANDARD = LVCMOS33;
NET "f_relay_con[13]"   LOC = "T2"      | IOSTANDARD = LVCMOS33;
NET "f_relay_con[14]"   LOC = "V2"      | IOSTANDARD = LVCMOS33;
NET "f_relay_con[15]"   LOC = "U3"      | IOSTANDARD = LVCMOS33;
NET "f_relay_con[0]"    LOC = "R1"      | IOSTANDARD = LVCMOS33;
NET "f_relay_con[1]"    LOC = "P2"      | IOSTANDARD = LVCMOS33;
NET "f_relay_con[2]"    LOC = "P1"      | IOSTANDARD = LVCMOS33;
NET "f_relay_con[3]"    LOC = "N4"      | IOSTANDARD = LVCMOS33;
NET "f_relay_con[4]"    LOC = "M5"      | IOSTANDARD = LVCMOS33;
NET "f_relay_con[5]"    LOC = "M4"      | IOSTANDARD = LVCMOS33;
NET "f_relay_con[6]"    LOC = "M6"      | IOSTANDARD = LVCMOS33;
NET "f_relay_con[7]"    LOC = "L6"      | IOSTANDARD = LVCMOS33;
NET "f_relay_con[8]"    LOC = "T1"      | IOSTANDARD = LVCMOS33;
NET "f_relay_con[9]"    LOC = "P3"      | IOSTANDARD = LVCMOS33;

NET "f_relay_det[10]"   LOC = "V3"      | IOSTANDARD = LVCMOS33;
NET "f_relay_det[11]"   LOC = "U4"      | IOSTANDARD = LVCMOS33;
NET "f_relay_det[12]"   LOC = "W3"      | IOSTANDARD = LVCMOS33;
NET "f_relay_det[13]"   LOC = "W1"      | IOSTANDARD = LVCMOS33;
NET "f_relay_det[14]"   LOC = "Y1"      | IOSTANDARD = LVCMOS33;
NET "f_relay_det[15]"   LOC = "Y2"      | IOSTANDARD = LVCMOS33;
NET "f_relay_det[0]"    LOC = "N6"      | IOSTANDARD = LVCMOS33;
NET "f_relay_det[1]"    LOC = "N7"      | IOSTANDARD = LVCMOS33;
NET "f_relay_det[2]"    LOC = "P7"      | IOSTANDARD = LVCMOS33;
NET "f_relay_det[3]"    LOC = "P8"      | IOSTANDARD = LVCMOS33;
NET "f_relay_det[4]"    LOC = "M7"      | IOSTANDARD = LVCMOS33;
NET "f_relay_det[5]"    LOC = "L1"      | IOSTANDARD = LVCMOS33;
NET "f_relay_det[6]"    LOC = "L3"      | IOSTANDARD = LVCMOS33;
NET "f_relay_det[7]"    LOC = "M8"      | IOSTANDARD = LVCMOS33;
NET "f_relay_det[8]"    LOC = "T3"      | IOSTANDARD = LVCMOS33;
NET "f_relay_det[9]"    LOC = "T4"      | IOSTANDARD = LVCMOS33;
NET "f_relay_oen[0]"    LOC = "P6"      | IOSTANDARD = LVCMOS33;
NET "f_relay_oen[1]"    LOC = "P5"      | IOSTANDARD = LVCMOS33;
NET "f_ttl_d[10]"       LOC = "R16"     | IOSTANDARD = LVCMOS33;
NET "f_ttl_d[11]"       LOC = "R15"     | IOSTANDARD = LVCMOS33;
NET "f_ttl_d[12]"       LOC = "U17"     | IOSTANDARD = LVCMOS33;
NET "f_ttl_d[13]"       LOC = "U14"     | IOSTANDARD = LVCMOS33;
NET "f_ttl_d[14]"       LOC = "U16"     | IOSTANDARD = LVCMOS33;
NET "f_ttl_d[15]"       LOC = "U13"     | IOSTANDARD = LVCMOS33;
NET "f_ttl_d[0]"        LOC = "AA18"    | IOSTANDARD = LVCMOS33;
NET "f_ttl_d[1]"        LOC = "AA16"    | IOSTANDARD = LVCMOS33;
NET "f_ttl_d[2]"        LOC = "Y17"     | IOSTANDARD = LVCMOS33;
NET "f_ttl_d[3]"        LOC = "AA14"    | IOSTANDARD = LVCMOS33;
NET "f_ttl_d[4]"        LOC = "V15"     | IOSTANDARD = LVCMOS33;
NET "f_ttl_d[5]"        LOC = "W13"     | IOSTANDARD = LVCMOS33;
NET "f_ttl_d[6]"        LOC = "V19"     | IOSTANDARD = LVCMOS33;
NET "f_ttl_d[7]"        LOC = "V13"     | IOSTANDARD = LVCMOS33;
NET "f_ttl_d[8]"        LOC = "V18"     | IOSTANDARD = LVCMOS33;
NET "f_ttl_d[9]"        LOC = "V17"     | IOSTANDARD = LVCMOS33;
NET "f_ttl_dir[0]"      LOC = "AB17"    | IOSTANDARD = LVCMOS33;
NET "f_ttl_dir[1]"      LOC = "AB18"    | IOSTANDARD = LVCMOS33;
NET "f_ttl_en"          LOC = "W17"     | IOSTANDARD = LVCMOS33;
NET "lan8710_nrst"      LOC = "N20"     | IOSTANDARD = LVCMOS33;
NET "uart_485_232[0]"   LOC = "G7"      | IOSTANDARD = LVCMOS33;
NET "uart_485_232[1]"   LOC = "H8"      | IOSTANDARD = LVCMOS33;
NET "uart_485_232[2]"   LOC = "J7"      | IOSTANDARD = LVCMOS33;
NET "uart_485_232[3]"   LOC = "B2"      | IOSTANDARD = LVCMOS33;
NET "uart_485_232[4]"   LOC = "B1"      | IOSTANDARD = LVCMOS33;
NET "uart_485_232[5]"   LOC = "F7"      | IOSTANDARD = LVCMOS33;
NET "uart_cts[0]"       LOC = "F1"      | IOSTANDARD = LVCMOS33;
NET "uart_cts[1]"       LOC = "G4"      | IOSTANDARD = LVCMOS33;
NET "uart_cts[2]"       LOC = "K7"      | IOSTANDARD = LVCMOS33;
NET "uart_cts[3]"       LOC = "C1"      | IOSTANDARD = LVCMOS33;
NET "uart_cts[4]"       LOC = "D1"      | IOSTANDARD = LVCMOS33;
NET "uart_cts[5]"       LOC = "E1"      | IOSTANDARD = LVCMOS33;
NET "uart_rts[0]"       LOC = "J4"      | IOSTANDARD = LVCMOS33;
NET "uart_rts[1]"       LOC = "K4"      | IOSTANDARD = LVCMOS33;
NET "uart_rts[2]"       LOC = "K6"      | IOSTANDARD = LVCMOS33;
NET "uart_rts[3]"       LOC = "G3"      | IOSTANDARD = LVCMOS33;
NET "uart_rts[4]"       LOC = "G1"      | IOSTANDARD = LVCMOS33;
NET "uart_rts[5]"       LOC = "H1"      | IOSTANDARD = LVCMOS33;
NET "uart_rx[0]"        LOC = "F3"      | IOSTANDARD = LVCMOS33;
NET "uart_rx[1]"        LOC = "F5"      | IOSTANDARD = LVCMOS33;
NET "uart_rx[2]"        LOC = "G6"      | IOSTANDARD = LVCMOS33;
NET "uart_rx[3]"        LOC = "C3"      | IOSTANDARD = LVCMOS33;
NET "uart_rx[4]"        LOC = "D2"      | IOSTANDARD = LVCMOS33;
NET "uart_rx[5]"        LOC = "E3"      | IOSTANDARD = LVCMOS33;
NET "uart_tx[0]"        LOC = "H4"      | IOSTANDARD = LVCMOS33;
NET "uart_tx[1]"        LOC = "K3"      | IOSTANDARD = LVCMOS33;
NET "uart_tx[2]"        LOC = "J6"      | IOSTANDARD = LVCMOS33;
NET "uart_tx[3]"        LOC = "H6"      | IOSTANDARD = LVCMOS33;
NET "uart_tx[4]"        LOC = "H3"      | IOSTANDARD = LVCMOS33;
NET "uart_tx[5]"        LOC = "H2"      | IOSTANDARD = LVCMOS33;
