NET "dsp_ema_a[0]"      LOC = "G9"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[10]"     LOC = "D7"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[11]"     LOC = "D6"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[1]"      LOC = "C10"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[2]"      LOC = "A11"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[3]"      LOC = "H13"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[4]"      LOC = "C8"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[5]"      LOC = "F12"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[6]"      LOC = "H14"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[7]"      LOC = "G8"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[8]"      LOC = "F9"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a[9]"      LOC = "F8"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a_rw"      LOC = "A5"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_ba[0]"     LOC = "G13"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_ba[1]"     LOC = "D10"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_cs2n"      LOC = "D9"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[0]"      LOC = "E12"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[10]"     LOC = "B8"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[11]"     LOC = "A7"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[12]"     LOC = "A8"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[13]"     LOC = "C9"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[14]"     LOC = "A9"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[15]"     LOC = "B10"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[1]"      LOC = "C12"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[2]"      LOC = "B12"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[3]"      LOC = "E14"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[4]"      LOC = "A13"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[5]"      LOC = "F15"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[6]"      LOC = "C14"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[7]"      LOC = "E16"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[8]"      LOC = "B6"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_d[9]"      LOC = "A6"      | IOSTANDARD = LVCMOS33;
NET "dsp_ema_oen"       LOC = "C11"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_wait"      LOC = "E10"     | IOSTANDARD = LVCMOS33;
NET "dsp_ema_a_rw"      LOC = "A10"     | IOSTANDARD = LVCMOS33;
NET "dsp_fpga_d[0]"     LOC = "A18"     | IOSTANDARD = LVCMOS33;
NET "dsp_fpga_d[1]"     LOC = "B16"     | IOSTANDARD = LVCMOS33;
NET "dsp_fpga_d[2]"     LOC = "B18"     | IOSTANDARD = LVCMOS33;
NET "dsp_fpga_d[3]"     LOC = "A17"     | IOSTANDARD = LVCMOS33;
NET "dsp_fpga_d[4]"     LOC = "B14"     | IOSTANDARD = LVCMOS33;
NET "dsp_fpga_d[5]"     LOC = "D14"     | IOSTANDARD = LVCMOS33;
NET "dsp_fpga_d[6]"     LOC = "D13"     | IOSTANDARD = LVCMOS33;
NET "dsp_fpga_d[7]"     LOC = "D12"     | IOSTANDARD = LVCMOS33;
NET "rst_n"             LOC = "P20"     | IOSTANDARD = LVCMOS33;   
NET "fpga_cand[0]"      LOC = "F17"     | IOSTANDARD = LVCMOS33;
NET "fpga_cand[1]"      LOC = "G16"     | IOSTANDARD = LVCMOS33;
NET "fpga_cand[2]"      LOC = "F16"     | IOSTANDARD = LVCMOS33;
NET "fpga_cand[3]"      LOC = "J16"     | IOSTANDARD = LVCMOS33;
NET "fpga_canr[0]"      LOC = "G17"     | IOSTANDARD = LVCMOS33;
NET "fpga_canr[1]"      LOC = "H16"     | IOSTANDARD = LVCMOS33;
NET "fpga_canr[2]"      LOC = "H17"     | IOSTANDARD = LVCMOS33;
NET "fpga_canr[3]"      LOC = "N19"     | IOSTANDARD = LVCMOS33;

NET "clk"               LOC = "J22"     | IOSTANDARD = LVCMOS33;
NET "fpga_run_s"        LOC = "P18"     | IOSTANDARD = LVCMOS33;

NET "lan8710_nrst"      LOC = "N20"     | IOSTANDARD = LVCMOS33;

NET "speak_con"         LOC = "R19"     | IOSTANDARD = LVCMOS33;

NET "dsp_fpga_sclk"     LOC = "D15"     | IOSTANDARD = LVCMOS33;
NET "dsp_fpga_ncs"      LOC = "A14"     | IOSTANDARD = LVCMOS33;
NET "dsp_fpga_sdi"      LOC = "A15"     | IOSTANDARD = LVCMOS33;
NET "dsp_fpga_sdo"      LOC = "C15"     | IOSTANDARD = LVCMOS33;
NET "spi_flash_sclk"    LOC = "Y21"     | IOSTANDARD = LVCMOS33;
NET "spi_flash_ncs"     LOC = "T5"      | IOSTANDARD = LVCMOS33;
NET "spi_flash_sdi"     LOC = "AB20"    | IOSTANDARD = LVCMOS33;
NET "spi_flash_sdo"     LOC = "AA20"    | IOSTANDARD = LVCMOS33;
