NET "AD7321_CSN"    LOC = "AB12"     ;
NET "AD7321_DIN"    LOC = "Y11"     ;
NET "AD7321_DOUT"   LOC = "AB13"     ;
NET "AD7321_SCLK"   LOC = "AA12"     ;
NET "DSP_EMA_A<0>"  LOC = "A6"     ;
NET "DSP_EMA_A<10>" LOC = "G9"     ;
NET "DSP_EMA_A<11>" LOC = "F9"     ;
NET "DSP_EMA_A<1>"  LOC = "C9"     ;
NET "DSP_EMA_A<2>"  LOC = "E10"     ;
NET "DSP_EMA_A<3>"  LOC = "D6"     ;
NET "DSP_EMA_A<4>"  LOC = "A8"     ;
NET "DSP_EMA_A<5>"  LOC = "C7"     ;
NET "DSP_EMA_A<6>"  LOC = "F8"     ;
NET "DSP_EMA_A<7>"  LOC = "A7"     ;
NET "DSP_EMA_A<8>"  LOC = "B8"     ;
NET "DSP_EMA_A<9>"  LOC = "G8"     ;
NET "DSP_EMA_A_RW"  LOC = "H10"     ;
NET "DSP_EMA_BA0"   LOC = "B6"     ;
NET "DSP_EMA_BA1"   LOC = "C8"     ;
NET "DSP_EMA_CS2N"  LOC = "E8"     ;
NET "DSP_EMA_D<0>"  LOC = "B14"     ;
NET "DSP_EMA_D<10>" LOC = "D13"     ;
NET "DSP_EMA_D<11>" LOC = "A13"     ;
NET "DSP_EMA_D<12>" LOC = "F12"     ;
NET "DSP_EMA_D<13>" LOC = "F13"     ;
NET "DSP_EMA_D<14>" LOC = "H12"     ;
NET "DSP_EMA_D<15>" LOC = "H13"     ;
NET "DSP_EMA_D<1>"  LOC = "C14"     ;
NET "DSP_EMA_D<2>"  LOC = "D14"     ;
NET "DSP_EMA_D<3>"  LOC = "E14"     ;
NET "DSP_EMA_D<4>"  LOC = "F14"     ;
NET "DSP_EMA_D<5>"  LOC = "G13"     ;
NET "DSP_EMA_D<6>"  LOC = "F15"     ;
NET "DSP_EMA_D<7>"  LOC = "H14"     ;
NET "DSP_EMA_D<8>"  LOC = "D12"     ;
NET "DSP_EMA_D<9>"  LOC = "E12"     ;
NET "DSP_EMA_OEN"   LOC = "D9"     ;
NET "DSP_EMA_WAIT1" LOC = "B16"     ;
NET "DSP_EMA_WEN"   LOC = "C12"     ;
NET "DSP_FPGA_D<0>" LOC = "A10"     ;
NET "DSP_FPGA_D<1>" LOC = "D8"     ;
NET "DSP_FPGA_D<2>" LOC = "D7"     ;
NET "DSP_FPGA_D<3>" LOC = "A11"     ;
NET "DSP_FPGA_D<4>" LOC = "B10"     ;
NET "DSP_FPGA_D<5>" LOC = "D10"     ;
NET "DSP_FPGA_D<6>" LOC = "C11"     ;
NET "DSP_FPGA_D<7>" LOC = "C10"     ;
NET "DSP_FPGA_NCS"  LOC = "B18"     ;
NET "DSP_FPGA_SCLK" LOC = "E16"     ;
NET "DSP_FPGA_SDI"  LOC = "A17"     ;
NET "DSP_FPGA_SDO"  LOC = "A18"     ;
NET "DSP_RESETOUTN" LOC = "P20"     ;
NET "FPGA_CAND<0>"  LOC = "J16"     ;
NET "FPGA_CAND<1>"  LOC = "H16"     ;
NET "FPGA_CAND<2>"  LOC = "H17"     ;
NET "FPGA_CAND<3>"  LOC = "F18"     ;
NET "FPGA_CAND<4>"  LOC = "F19"     ;
NET "FPGA_CAND<5>"  LOC = "D19"     ;
NET "FPGA_CAND<6>"  LOC = "D20"     ;
NET "FPGA_CAND<7>"  LOC = "D21"     ;
NET "FPGA_CANR<0>"  LOC = "G16"     ;
NET "FPGA_CANR<1>"  LOC = "G17"     ;
NET "FPGA_CANR<2>"  LOC = "F16"     ;
NET "FPGA_CANR<3>"  LOC = "F17"     ;
NET "FPGA_CANR<4>"  LOC = "B21"     ;
NET "FPGA_CANR<5>"  LOC = "B22"     ;
NET "FPGA_CANR<6>"  LOC = "A20"     ;
NET "FPGA_CANR<7>"  LOC = "A21"     ;
NET "FPGA_CLK"      LOC = "J22"     ;
NET "FPGA_RUN_S"    LOC = "P18"     ;
NET "F_RELAY_CON<11>"   LOC = "U1"     ;
NET "F_RELAY_CON<12>"   LOC = "R3"     ;
NET "F_RELAY_CON<13>"   LOC = "V1"     ;
NET "F_RELAY_CON<14>"   LOC = "T2"     ;
NET "F_RELAY_CON<15>"   LOC = "V2"     ;
NET "F_RELAY_CON<16>"   LOC = "U3"     ;
NET "F_RELAY_CON<1>"    LOC = "R1"     ;
NET "F_RELAY_CON<2>"    LOC = "P2"     ;
NET "F_RELAY_CON<3>"    LOC = "P1"     ;
NET "F_RELAY_CON<4>"    LOC = "N4"     ;
NET "F_RELAY_CON<5>"    LOC = "M5"     ;
NET "F_RELAY_CON<6>"    LOC = "M4"     ;
NET "F_RELAY_CON<7>"    LOC = "M6"     ;
NET "F_RELAY_CON<8>"    LOC = "L6"     ;
NET "F_RELAY_CON<9>"    LOC = "T1"     ;
NET "F_RELAY_CON<10>"   LOC = "P3"     ;
NET "F_RELAY_DET<11>"   LOC = "V3"     ;
NET "F_RELAY_DET<12>"   LOC = "U4"     ;
NET "F_RELAY_DET<13>"   LOC = "W3"     ;
NET "F_RELAY_DET<14>"   LOC = "W1"     ;
NET "F_RELAY_DET<15>"   LOC = "Y1"     ;
NET "F_RELAY_DET<16>"   LOC = "Y2"     ;
NET "F_RELAY_DET<1>"    LOC = "N6"     ;
NET "F_RELAY_DET<2>"    LOC = "N7"     ;
NET "F_RELAY_DET<3>"    LOC = "P7"     ;
NET "F_RELAY_DET<4>"    LOC = "P8"     ;
NET "F_RELAY_DET<5>"    LOC = "M7"     ;
NET "F_RELAY_DET<6>"    LOC = "L1"     ;
NET "F_RELAY_DET<7>"    LOC = "L3"     ;
NET "F_RELAY_DET<8>"    LOC = "M8"     ;
NET "F_RELAY_DET<9>"    LOC = "T3"     ;
NET "F_RELAY_DET<10>"   LOC = "T4"     ;
NET "F_RELAY_OEN<1>"    LOC = "P6"     ;
NET "F_RELAY_OEN<2>"    LOC = "P5"     ;
NET "F_TTL_D<10>"       LOC = "R16"     ;
NET "F_TTL_D<11>"       LOC = "R15"     ;
NET "F_TTL_D<12>"       LOC = "U17"     ;
NET "F_TTL_D<13>"       LOC = "U14"     ;
NET "F_TTL_D<14>"       LOC = "U16"     ;
NET "F_TTL_D<15>"       LOC = "U13"     ;
NET "F_TTL_D<0>"        LOC = "AA18"     ;
NET "F_TTL_D<1>"        LOC = "AA16"     ;
NET "F_TTL_D<2>"        LOC = "Y17"     ;
NET "F_TTL_D<3>"        LOC = "AA14"     ;
NET "F_TTL_D<4>"        LOC = "V15"     ;
NET "F_TTL_D<5>"        LOC = "W13"     ;
NET "F_TTL_D<6>"        LOC = "V19"     ;
NET "F_TTL_D<7>"        LOC = "V13"     ;
NET "F_TTL_D<8>"        LOC = "V18"     ;
NET "F_TTL_D<9>"        LOC = "V17"     ;
NET "F_TTL_DIR1"        LOC = "AB17"     ;
NET "F_TTL_DIR2"        LOC = "AB18"     ;
NET "F_TTL_EN"          LOC = "W17"     ;
NET "LAN8710_NRST"      LOC = "N20"     ;
NET "UART1_485_232"     LOC = "G7"     ;
NET "UART1_RX1"         LOC = "F1"     ;
NET "UART1_RX2"         LOC = "F3"     ;
NET "UART1_TX1"         LOC = "H4"     ;
NET "UART1_TX2"         LOC = "J4"     ;
NET "UART2_485_232"     LOC = "H8"     ;
NET "UART2_RX1"         LOC = "G4"     ;
NET "UART2_RX2"         LOC = "F5"     ;
NET "UART2_TX1"         LOC = "K3"     ;
NET "UART2_TX2"         LOC = "K4"     ;
NET "UART3_485_232"     LOC = "J7"     ;
NET "UART3_RX1"         LOC = "K7"     ;
NET "UART3_RX2"         LOC = "G6"     ;
NET "UART3_TX1"         LOC = "J6"     ;
NET "UART3_TX2"         LOC = "K6"     ;
NET "UART4_485_232"     LOC = "B2"     ;
NET "UART4_RX1"         LOC = "C1"     ;
NET "UART4_RX2"         LOC = "C3"     ;
NET "UART4_TX1"         LOC = "H6"     ;
NET "UART4_TX2"         LOC = "G3"     ;
NET "UART5_485_232"     LOC = "B1"     ;
NET "UART5_RX1"         LOC = "D1"     ;
NET "UART5_RX2"         LOC = "D2"     ;
NET "UART5_TX1"         LOC = "H3"     ;
NET "UART5_TX2"         LOC = "G1"     ;
NET "UART6_485_232"     LOC = "F7"     ;
NET "UART6_RX1"         LOC = "E1"     ;
NET "UART6_RX2"         LOC = "E3"     ;
NET "UART6_TX1"         LOC = "H2"     ;
NET "UART6_TX2"         LOC = "H1"     ;
