NET "DSP_EMA_A_RW" LOC = "A5";
NET "DSP_EMA_A<11>" LOC = "D6";
NET "DSP_EMA_A<13>" LOC = "C6";
NET "DSP_EMA_D<8>" LOC = "B6";
NET "DSP_EMA_D<9>" LOC = "A6";
NET "DSP_EMA_CS4N" LOC = "C7";
NET "DSP_EMA_D<11>" LOC = "A7";
NET "DSP_EMA_D<10>" LOC = "B8";
NET "DSP_EMA_D<12>" LOC = "A8";
NET "DSP_EMA_CS2N" LOC = "D9";
NET "DSP_EMA_A<4>" LOC = "C8";
NET "DSP_EMA_D<13>" LOC = "C9";
NET "DSP_EMA_D<14>" LOC = "A9";
NET "DSP_EMA_A<14>" LOC = "E8";
NET "DSP_EMA_A<9>" LOC = "F8";
NET "DSP_EMA_A<7>" LOC = "G8";
NET "DSP_EMA_A<8>" LOC = "F9";
NET "DSP_EMA_A<0>" LOC = "G9";
NET "DSP_EMA_A<12>" LOC = "H10";
NET "DSP_EMA_WAIT1" LOC = "E10";
NET "DSP_EMA_A<10>" LOC = "D7";
NET "DSP_EMA_CS5N" LOC = "D8";
NET "DSP_EMA_BA1" LOC = "D10";
NET "DSP_EMA_A<1>" LOC = "C10";
NET "DSP_EMA_D<15>" LOC = "B10";
NET "DSP_EMA_WEN" LOC = "A10";
NET "DSP_EMA_OEN" LOC = "C11";
NET "DSP_EMA_A<2>" LOC = "A11";
NET "DSP_EMA_D<1>" LOC = "C12";
NET "DSP_EMA_D<2>" LOC = "B12";
NET "DSP_EMA_D<4>" LOC = "A13";
NET "DSP_EMA_D<0>" LOC = "E12";
NET "DSP_FPGA_D<7>" LOC = "D12";
NET "DSP_EMA_A<5>" LOC = "F12";
NET "DSP_FPGA_D<6>" LOC = "D13";
NET "DSP_EMA_A<3>" LOC = "H13";
NET "DSP_EMA_BA0" LOC = "G13";
NET "DSP_EMA_D<3>" LOC = "E14";
NET "DSP_EMA_D<5>" LOC = "F15";
NET "DSP_EMA_A<6>" LOC = "H14";
NET "DSP_FPGA_D<5>" LOC = "D14";
NET "DSP_EMA_D<6>" LOC = "C14";
NET "DSP_FPGA_D<4>" LOC = "B14";
NET "FPGA_SPI_CSN" LOC = "A14";
NET "MCP2515_SO" LOC = "C15";
NET "MCP2515_SI" LOC = "A15";
NET "MCP2515_SCK" LOC = "D15";
NET "DSP_FPGA_D<1>" LOC = "B16";
NET "DSP_FPGA_D<3>" LOC = "A17";
NET "DSP_FPGA_D<2>" LOC = "B18";
NET "DSP_FPGA_D<0>" LOC = "A18";
NET "DSP_EMA_D<7>" LOC = "E16";
NET "FPGA_CAND<1>" LOC = "G16";
NET "FPGA_CANR<0>" LOC = "G17";
NET "FPGA_CAND<2>" LOC = "F16";
NET "FPGA_CAND<0>" LOC = "F17";
NET "FPGA_CAND<3>" LOC = "J16";
NET "FPGA_CANR<1>" LOC = "H16";
NET "FPGA_CANR<2>" LOC = "H17";
NET "FPGA_CLK" LOC = "J22";
NET "LAN8710_NRST" LOC = "N20";
NET "FPGA_CANR<3>" LOC = "N19";
NET "DSP_RESETOUTN" LOC = "P20";
NET "FPGA_RUN_S" LOC = "P18";
NET "SPK_CN" LOC = "R19";
NET "SJA_L_AD0" LOC = "Y2";
NET "SJA_L_AD1" LOC = "Y1";
NET "SJA_L_AD2" LOC = "W3";
NET "SJA_L_AD3" LOC = "W1";
NET "SJA_L_AD4" LOC = "P8";
NET "SJA_L_AD5" LOC = "P7";
NET "SJA_L_AD6" LOC = "P6";
NET "SJA_L_AD7" LOC = "P5";
NET "SJA_L_ALE" LOC = "T4";
NET "SJA_L_CSN" LOC = "T3";
NET "SJA_L_RDN" LOC = "U4";
NET "SJA_L_WRN" LOC = "V3";
NET "SJA_L_RSTN" LOC = "N6";
NET "SJA_L_INTN" LOC = "N7";
NET "FPGA_DONE" LOC = "Y22";
NET "CFG_SPI_CCLK" LOC = "Y21";
NET "FPGA_M0" LOC = "AA22";
NET "CFG_SPI_MISO" LOC = "AA20";
NET "CFG_SPI_MOSI" LOC = "AB20";
NET "FPGA_M1" LOC = "U15";
NET "FPGA_INIT" LOC = "T6";
NET "CFG_SPI_CS" LOC = "T5";
NET "FPGA_TCK" LOC = "G15";
NET "FPGA_TDI" LOC = "E18";
NET "FPGA_TMS" LOC = "C18";
NET "FPGA_TDO" LOC = "A19";
