NET "#CS" LOC = "AB8";
NET "#P/S_SEL" LOC = "W11";
NET "#RD/SCLK" LOC = "Y9";
NET "#STBY" LOC = "W9";
NET "BUF_RELAY_CON1" LOC = "V3";
NET "BUF_RELAY_CON2" LOC = "W1";
NET "BUF_RELAY_CON3" LOC = "W3";
NET "BUF_RELAY_CON4" LOC = "Y1";
NET "BUF_RELAY_OEN" LOC = "Y2";
NET "BUSY" LOC = "AA8";
NET "CFG_SPI_CCLK" LOC = "Y21";
NET "CFG_SPI_CS" LOC = "T5";
NET "CFG_SPI_MISO" LOC = "AA20";
NET "CFG_SPI_MOSI" LOC = "AB20";
NET "CONVST_A" LOC = "AB10";
NET "CONVST_B" LOC = "Y10";
NET "DB<0>" LOC = "Y7";
NET "DB<10>" LOC = "Y3";
NET "DB<11>" LOC = "AB2";
NET "DB<12>" LOC = "Y4";
NET "DB<13>" LOC = "AA2";
NET "DB<14>" LOC = "W4";
NET "DB<15>" LOC = "U6";
NET "DB<1>" LOC = "AB6";
NET "DB<2>" LOC = "Y8";
NET "DB<3>" LOC = "AA6";
NET "DB<4>" LOC = "W8";
NET "DB<5>" LOC = "AB4";
NET "DB<6>" LOC = "V9";
NET "DB<7>" LOC = "V7";
NET "DB<8>" LOC = "AA4";
NET "DB<9>" LOC = "AB3";
NET "DSP_EMA_A<0>" LOC = "G9";
NET "DSP_EMA_A<10>" LOC = "D7";
NET "DSP_EMA_A<11>" LOC = "D6";
NET "DSP_EMA_A<12>" LOC = "H10";
NET "DSP_EMA_A<13>" LOC = "C6";
NET "DSP_EMA_A<14>" LOC = "E8";
NET "DSP_EMA_A<1>" LOC = "C10";
NET "DSP_EMA_A<2>" LOC = "A11";
NET "DSP_EMA_A<3>" LOC = "H13";
NET "DSP_EMA_A<4>" LOC = "C8";
NET "DSP_EMA_A<5>" LOC = "F12";
NET "DSP_EMA_A<6>" LOC = "H14";
NET "DSP_EMA_A<7>" LOC = "G8";
NET "DSP_EMA_A<8>" LOC = "F9";
NET "DSP_EMA_A<9>" LOC = "F8";
NET "DSP_EMA_A_RW" LOC = "A5";
NET "DSP_EMA_BA0" LOC = "G13";
NET "DSP_EMA_BA1" LOC = "D10";
NET "DSP_EMA_CS2N" LOC = "D9";
NET "DSP_EMA_CS4N" LOC = "C7";
NET "DSP_EMA_CS5N" LOC = "D8";
NET "DSP_EMA_D<0>" LOC = "E12";
NET "DSP_EMA_D<10>" LOC = "B8";
NET "DSP_EMA_D<11>" LOC = "A7";
NET "DSP_EMA_D<12>" LOC = "A8";
NET "DSP_EMA_D<13>" LOC = "C9";
NET "DSP_EMA_D<14>" LOC = "A9";
NET "DSP_EMA_D<15>" LOC = "B10";
NET "DSP_EMA_D<1>" LOC = "C12";
NET "DSP_EMA_D<2>" LOC = "B12";
NET "DSP_EMA_D<3>" LOC = "E14";
NET "DSP_EMA_D<4>" LOC = "A13";
NET "DSP_EMA_D<5>" LOC = "F15";
NET "DSP_EMA_D<6>" LOC = "C14";
NET "DSP_EMA_D<7>" LOC = "E16";
NET "DSP_EMA_D<8>" LOC = "B6";
NET "DSP_EMA_D<9>" LOC = "A6";
NET "DSP_EMA_OEN" LOC = "C11";
NET "DSP_EMA_WAIT1" LOC = "E10";
NET "DSP_EMA_WEN" LOC = "A10";
NET "DSP_FPGA_D<0>" LOC = "A18";
NET "DSP_FPGA_D<1>" LOC = "B16";
NET "DSP_FPGA_D<2>" LOC = "B18";
NET "DSP_FPGA_D<3>" LOC = "A17";
NET "DSP_FPGA_D<4>" LOC = "B14";
NET "DSP_FPGA_D<5>" LOC = "D14";
NET "DSP_FPGA_D<6>" LOC = "D13";
NET "DSP_FPGA_D<7>" LOC = "D12";
NET "DSP_FPGA_NCS" LOC = "F13";
NET "DSP_FPGA_SCLK" LOC = "G11";
NET "DSP_FPGA_SDI" LOC = "F14";
NET "DSP_FPGA_SDO" LOC = "H12";
NET "DSP_RESETOUTN" LOC = "P20";
NET "FPGA_CAND<0>" LOC = "F17";
NET "FPGA_CAND<1>" LOC = "G16";
NET "FPGA_CAND<2>" LOC = "F16";
NET "FPGA_CAND<3>" LOC = "J16";
NET "FPGA_CAND<4>" LOC = "D21";
NET "FPGA_CAND<5>" LOC = "B21";
NET "FPGA_CAND<6>" LOC = "D20";
NET "FPGA_CAND<7>" LOC = "D19";
NET "FPGA_CANR<0>" LOC = "G17";
NET "FPGA_CANR<1>" LOC = "H16";
NET "FPGA_CANR<2>" LOC = "H17";
NET "FPGA_CANR<3>" LOC = "N19";
NET "FPGA_CANR<4>" LOC = "A21";
NET "FPGA_CANR<5>" LOC = "A20";
NET "FPGA_CANR<6>" LOC = "F19";
NET "FPGA_CANR<7>" LOC = "F18";
NET "FPGA_CLK" LOC = "J22";
NET "FPGA_DONE" LOC = "Y22";
NET "FPGA_INIT" LOC = "T6";
NET "FPGA_M0" LOC = "AA22";
NET "FPGA_M1" LOC = "U15";
NET "FPGA_RUN_S" LOC = "P18";
NET "FPGA_TCK" LOC = "G15";
NET "FPGA_TDI" LOC = "E18";
NET "FPGA_TDO" LOC = "A19";
NET "FPGA_TMS" LOC = "C18";
NET "FRSTDATA" LOC = "AB7";
NET "GPS_PPS" LOC = "H21";
NET "GPS_RXD" LOC = "K20";
NET "GPS_TXD" LOC = "K19";
NET "IO_LVTTL1" LOC = "R22";
NET "IO_LVTTL2" LOC = "U22";
NET "IO_LVTTL3" LOC = "U20";
NET "IO_LVTTL4" LOC = "T21";
NET "IO_LVTTL5" LOC = "V21";
NET "IO_LVTTL6" LOC = "T22";
NET "IO_LVTTL7" LOC = "U19";
NET "IO_LVTTL8" LOC = "M19";
NET "IO_LVTTLEN" LOC = "A15";
NET "LAN8710_NRST" LOC = "N20";
NET "LVTTL_I1" LOC = "W12";
NET "LVTTL_I2" LOC = "Y12";
NET "LVTTL_I3" LOC = "AA12";
NET "LVTTL_I4" LOC = "AB14";
NET "LVTTL_I5" LOC = "Y14";
NET "LVTTL_I6" LOC = "W13";
NET "LVTTL_I7" LOC = "AB12";
NET "LVTTL_I8" LOC = "AB13";
NET "LVTTL_O1" LOC = "Y17";
NET "LVTTL_O2" LOC = "AB18";
NET "LVTTL_O3" LOC = "W17";
NET "LVTTL_O4" LOC = "AB17";
NET "LVTTL_O5" LOC = "Y15";
NET "LVTTL_O6" LOC = "AA16";
NET "LVTTL_O7" LOC = "AA14";
NET "LVTTL_O8" LOC = "AB15";
NET "OS_0" LOC = "Y11";
NET "OS_1" LOC = "AB11";
NET "OS_2" LOC = "AA10";
NET "RANGE" LOC = "W10";
NET "REF_SELECT" LOC = "V5";
NET "RESET" LOC = "AB9";
NET "RS485_RD1" LOC = "N4";
NET "RS485_RD2" LOC = "T1";
NET "RS485_RD3" LOC = "P3";
NET "RS485_RD4" LOC = "V2";
NET "RS485_RX1" LOC = "P2";
NET "RS485_RX2" LOC = "T2";
NET "RS485_RX3" LOC = "R1";
NET "RS485_RX4" LOC = "V1";
NET "RS485_TX1" LOC = "M5";
NET "RS485_TX2" LOC = "P4";
NET "RS485_TX3" LOC = "P1";
NET "RS485_TX4" LOC = "U1";
NET "SPK_CN" LOC = "R19";
NET "TTL2LVTTL_OEN" LOC = "U16";
NET "UART_RX1" LOC = "L1";
NET "UART_RX2" LOC = "J4";
NET "UART_RX3" LOC = "M4";
NET "UART_RX4" LOC = "L3";
NET "UART_TX1" LOC = "K4";
NET "UART_TX2" LOC = "K3";
NET "UART_TX3" LOC = "L6";
NET "UART_TX4" LOC = "K6";
